.Rproj.user
.Rhistory
.RData
.claude/
_publish.R
_book
_bookdown_files
rsconnect

# renv - if adopted by downstream repos
renv/

*/~$*

docs/
libs/

data/processed/ems_raw.csv
data/raw/cabin_*_mda08.csv
